

.shorts{
    width: 100%;
    height: 90vh;
    padding: 2vw;
    overflow-y: auto;
}
.shorts::-webkit-scrollbar{
    width: 2px;
    background-color: aliceblue;
}
.shorts::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.404);
}
.short-content{
    width: min(100%,320px);
    height: 80vh;
    margin: auto;
    padding: 20px 0 0 0;
    position: relative;
    margin-bottom: 15px;
}

.short-video-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgba(109, 92, 92, 0.336);
    border-radius: 15px;
}
.short-video-content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
 #short-btn{
    position: absolute;
    color:rgba(255, 255, 255, 0.512);
    right: 120px;
    font-size: 50px;
}
.short-mute{
    position: absolute;
    top: -250px;
    left: 10px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 25px;
    padding: 5px 0;
    z-index: 999;
    width: 40px;
    color: rgba(255, 255, 255, 0.208);
    height: 40px;
    background-color: rgba(255, 255, 255, 0.147);
}
.short-info{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.content-comps{
    width: 20%;
    min-height: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 12px;
    color: rgba(255, 255, 255, 0.664);
}
.user-info{
    position: relative;
    width: 100%;
    display: flex;
    gap: 10px;
    height: 50%;
    align-items: center;
}
.user-info button{
    position: relative;
    margin-top: 5px;
    padding: 4px 8px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.user-name{
    max-width: 220px;
    margin-left: 2px;
    overflow: hidden;
}
.short-title{
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
}
.short-avatar{
    height: 40px;
    width: 40px;
    border: 1px solid rgba(255, 255, 255, 0.358);
    margin-left: 10px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
}
.short-avatar img{
    width: 100%;
    object-fit: cover;
}

.short-comment{
    width: 100%;
    height: 270px;
    background-color: rgba(152, 166, 181, 0.499);
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    overflow-y: auto;
    margin-bottom: 38px;
    z-index: 99;
}
.short-comment::-webkit-scrollbar{
    display: none;
}

 #coment-form{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.555);
    position: absolute;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    z-index: 99;
}

#coment-form input{
    width: 82%;
    height: 40px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(25px);
    font-size: 17px;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.71);
}

#coment-form button{
    height: 40px;
    border: none;
    width: 20%;
    background-color: rgba(115, 149, 177, 0.545);
    backdrop-filter: blur(15px);
}
.short-comment img{
    object-fit: cover;
    object-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.each-short-comment{
    width: 96%;
    min-height:20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    text-align: left;
}
.hide-comment{
    color: rgba(0, 0, 0, 0.623);
    position: absolute;
    right: 2px;
    top: 4px;
    font-size: 22px;
}
.short-userName{
    font-size: 11px;
    color: rgba(0, 0, 0, 0.501);
}

.play-pause-area{
    width: 80%;
    height: 80%;
    opacity: 0;
    position: absolute;
    z-index: 1;
}
.short-share{
    width: 84%;
    height: 62px;
    top: 69%;
    left: 2%;
    background-color: rgba(255, 255, 255, 0.552);
    position: absolute;
    border-radius: 10px;
    z-index: 2;
    gap: 5px;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    padding: 0 20px;
    animation-name:share ;
    animation-duration: 1s;
    animation-direction: normal;
    animation-timing-function: linear;
}
@keyframes share {
    0%{
        height: 0px;
    }
    100%{
        height: 62px;
    }
}
.share-each-option{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.share-each-option img{
    height: 70%;
    width: 70%;
}
.share-each-option p{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.733);
}