

.video{
    width: 100%;
    height: 94vh;
    overflow-y: auto;
    display: flex;
    gap: 2%;
    padding: 1%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.871);
}

.video::-webkit-scrollbar{
    display: none;
}

.video-center{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}
.video-center::-webkit-scrollbar{
    display: none;
}

.video-side{
    position: relative;
    width: 32%;
    height: 89vh;
    overflow-y: auto;
    margin-bottom: -50px;
}
.video-side::-webkit-scrollbar{
    width: 1px;
    background-color: black;
}
.video-side::-webkit-scrollbar-thumb{
    background-color: white;
}
.video-play{
    width:100%;
    height: 100%;
    height:max(75vw,67vh);
    border-radius: 15px;
    overflow: hidden;
}
.video-play .video{
    width: 100%;
    height: 100%;
}
.comps{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    justify-content: space-between;
}

.comps .comps-title{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}
.comments{
    width: 100%;
    overflow: auto;
    height: 26vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2.2vh;
}
.comments:last-child{
    margin-bottom: 10px;
}

.comments::-webkit-scrollbar{
    display: none;
}
.comp-lower {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comp-lower .avatar{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.403);
    border-radius: 50%;
    overflow: hidden;
}
.comp-lower .avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.comps-userName{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 7px;
    min-width: 120px;
}
.comps-userName p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.486);
    position: relative;
}
.chanel-subs{
    display: flex;
    gap: 5px;
}
.subscribed{
    background-color: rgba(255, 255, 255, 0.192);
}
.comp-lower button{
    padding: 1px 6px;
    height: 30px;
    position: relative;
    align-self: flex-end;
    margin-left: 30px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.705);
}
.lower-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.lower-right{
    display: flex;
    align-items: center;
}
.lower-right .like-dis{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    gap: 5px;
    border: none;
    border-radius: 10px;
    padding: 2px 10px;
    background-color:rgb(32, 31, 31) ;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.241);
    margin-left: 5px;
    margin-top: 15px;
}
.lower-right .like-dis p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.355);
}
.description{
    width: 100%;
    height: 100px;
    position: relative;
    padding: 10px;
}
.desc-message{
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.desc-message p{
    text-align: left;
}
.more p , .less p{
    position: absolute;
    right: 5px;
    bottom: 0;
}

.more{
    width: 100%;
    height: 40px;
}
.less{
    width: 100%;
    min-height: 40px;
}

.comment-inpt-small{
    width: 100%;
    position: relative;
    height: 40px;
    margin-top: 5px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.comment-inpt-small input{
    width: 85%;
    margin: auto;
    height: 40px;
    border: none;
    border-radius: 15px 0 0 15px;
    outline: none;
    font-size: 17px;
    padding: 0 10px;
    color: white;
    background-color: rgba(72, 67, 67, 0.568);
    backdrop-filter: blur(20px);
}
.comment-inpt-small button{
    width: 15%;
    height: 40px;
    border: none;
    border-radius:0 15px 15px 0;
    background-color: rgba(40, 40, 225, 0.599);
    font-size: 17px;
    color: rgba(255, 255, 255, 0.563);
}
@media (max-width:800px){
    .video{
        flex-direction: column;
        gap: 60px;
    }
    .video-center{
        width: 95%;
        margin: auto;
    }
    .video-side{
        width: 96%;
        position: relative;
        margin: auto;
        overflow:auto;
        min-height:100%;
        margin-top: -60px;
        margin-bottom: 15px;
    }
    .video{
        overflow: auto;
    }
    .comment-inpt-small{
        bottom: 10px;
        width: 100%;

    }
    
    .comment-inpt-small input{
        width: 85%;
        margin: auto;
        height: 40px;
        border: none;
        border-radius: 15px 0 0 15px;
        outline: none;
        font-size: 17px;
        padding: 0 10px;
        color: white;
        background-color: rgba(72, 67, 67, 0.568);
        backdrop-filter: blur(20px);
    }
    .video-play{
    width:100%;
    height: 100%;
    height: max(60%,50vh);
    border-radius: 15px;
    overflow: hidden;
    }
    .comments{
        border-bottom: 1px solid rgba(255, 255, 255, 0.179);
    }
    
}

@media (max-width:575px){
    .comp-lower{
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    .lower-right{
        width: 100%;
        justify-content: space-around;
    }
    .lower-left{
        width: 100%;
        position: relative;
    }
    .downlod-icon::after{
        content: 'Download';
        font-size: 15px;
    }
    .subscribe-btn{
        position: absolute;
        right: 0%;
    }
    .comps .comps-title{
        margin-bottom: 10px;
        text-align: left;
    }
    .video-side{
     
        margin-top: -64px;
        margin-bottom: 15px;
    }
    .comments{
        position: relative;
        margin-top: 20px;
    }
}
@media(max-width:465px){
    .comments{
        margin-top: 30px;
    }
}
@media (max-width:360px){
    .video-side{
        margin-top: 20px;
    }
}
.video{
    position: relative;
}
.video-controls{
    position: absolute;
    bottom: 1%;
    height: 40px;
    left: 1px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: linear;
}
.status-bar{
    width: 95%;
    height: 30%;
    margin: auto;
    display: flex;
    align-items: center;
    display: flex;
    position: relative;
    gap: 5px;
}
.status-bar p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.607);
}

.video-controls-upper{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 24px;
}
.video video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow:2px 2px 2px 2px rgba(255, 255, 255, 0.055),  /* Subtle soft glow */
    6px 6px 6px 20px rgba(255, 255, 255, 0.075),  /* Slightly larger glow */
    8px 8px 8px 20px rgba(0, 0, 0, 0.816);
}

.bar{
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
#status-bar{
    appearance: none;
    height: 3px;
    width: 100%;
    border: none;
    opacity: .4;
    border-radius: 20px;
}

#status-bar::-webkit-slider-thumb{
    opacity: 0;
}
.seek-bar{
    height: 3px;
    position: absolute;
    background-color:rgba(32, 49, 205, 0.897);
}
.seek-bar::before{
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    top: -3.5px;
    left: 100%;
    margin-bottom: 10px;
    border: 2px solid rgba(32, 49, 205, 0.897);
    border-radius: 50%;
    box-shadow: inset 1px 1px 3px blue;
}

#Volume-bar{
    width: 60px;
    appearance: none;
    height: 4px;
    border-radius: 15px;
    opacity: 0.2;
    z-index: 2;
}
#Volume-bar::-webkit-slider-thumb{
    opacity: 0;
}
.volume-controller{
    width: 60px;
    height: 4px;
    display: flex;
    border-radius: 15px;
    align-items: center;
    position: relative;
    z-index: 1;
}
.vulume-bar-visible{
    height: 100%;
    position: absolute;
    border-radius: 15px;
    background-color: rgb(5, 30, 255);
    z-index: 1;
}
.vulume-bar-visible::before{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid rgba(32, 49, 205, 0.897) ;
    position: absolute;
    left: 90%;
    top: -3px;
    border-radius: 50%;
}

.controller-left{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1%;
}
.controller-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4%;
}

.fullScreen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
}

.fullScreen video{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    margin-left: 10px;
}

.fullScreen .status-bar{
    width: 98%;
    margin-left: 3vw;
}

.status-bar p:nth-child(3){
    position: relative;
    margin-left: 6px;
}

.settings{
    width: max(16vw,160px);
    min-height: 30px;
    background-color:rgba(255, 255, 255, 0.501) ;
    backdrop-filter: blur(15px);
    position: absolute;
    bottom: 38px;
    right: 40px;
    color: rgba(0, 0, 0, 0.516);
    padding: 2px 10px;
    border-radius: 10px;
    transition: 0.3s linear;
    cursor: pointer;
}

.settings p{
    font-size: max(17px,1.7vw);
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.092);
}

.play-back{
    width: 100%;
    height: 80%;
}

.comment-para{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.each-comment{
    width: 100%;
    min-height: 20px;
    display: flex;
    font-weight: 300;
    padding: 2px 10px;
    margin-bottom: 1px;
    color: rgba(255, 255, 255, 0.615);
}
.each-comment p{
    position: relative;
    margin-left: 10px;
}

.each-comment p:nth-child(2){
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
    color: rgba(204, 204, 248, 0.767);
}
.each-comment img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.all-comment{
    display: flex;
    flex-direction: column;
    gap: 5px;
}