
nav{
    height: 40px;
    margin-top: 5px;
    display: flex;
    padding: 0 10px;
    gap: 10px;
    overflow: auto;
}
nav::-webkit-scrollbar{
    display: none;
}
.nav-options{
    background-color: rgba(247, 220, 165, 0.19);
    padding: 8px 10px;
    border-radius: 10px;
}