:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424a7;
}

html,body{
  min-height: 100vh;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.pages{
  position: fixed;
  top: 45px;
  width: 98%;
  left: 1%;
}
.Link{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.749);
}
.dark{
  background-color: black;
}