

header {
    position:relative;
    margin-top: -30px;
    margin-left: -30px;
    width: 98vw;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    color: rgba(255, 255, 255, 0.7);
}
.header-side{
    width: 20%;
    height: 100%;
    display: flex;
    align-items:center ;
    gap: 5px;
}

.header-side .imge{
    font-size: 25px;
    color: red;
}
.header-side i{
    font-size: 20px;
}

.header-profile{
    width: 25px;
    height: 25px;
    position: relative;
    border: 1px solid;
    border-radius: 50%;
    overflow: hidden;
}

.header-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header-center{
    display: flex;
    gap: 15px;
    width: 60%;
    justify-content: center;
}

.header-center input{
    width:30vw;
    background-color: rgba(255, 255, 255, 0.088);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.111);
    height: 30px;
    border-radius: 15px 0 0 15px;
    color: rgba(255, 255, 255, 0.619);
    padding: 0 15px;
    border-right: none;
    font-size: 15px;
}
.header-center .header-search i{
    font-size: 20px;
    padding:2.5px 10px 6px;
    border-radius: 0 15px 15px 0;
    border: 1px solid  rgba(255, 255, 255, 0.392);
    border-left: none;
    background-color:rgba(46, 43, 43, 0.262);
}
.header-center .voices{
    font-size: 20px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color:rgba(46, 43, 43, 0.321);
}
.header-side img{
    position: relative;
    margin-top: 8px;
    height: 50px;
    width: 30px;
    mix-blend-mode: color-burn;
}
.header-side2{
    padding: 0 10px;
    display: flex;
    gap: 10px;
    position: relative;
}
.header-side2 i{
    font-size: 20px;
}
.header-side h2{
    font-size: 18px;
}

.header-side2 button{
    padding: 3px 10px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
}
.header-side2 button:hover{
    transform:scale(1.1);
}
.links{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.7) ;
}

.add-video{
    background-color: rgba(185, 207, 226, 0.485);
    backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.263) ;
    border-radius: 5px;
    position:fixed;
    display: flex;
    flex-direction: column;
    top:35px;
    gap: 5px;
    font-size: 20px;
    min-width: 100px;
    right: 100px;
    z-index: 9;
    padding: 5px;
    align-items: center;
    font-size: 17px;
    border-radius: 10px;
}
.add-video p{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.722);
    border-radius: 5px;
    color: white;
    padding: 5px 30px;
}
#notification{
    position: relative;
    display: inline-block;
}
#notification::after{
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 1px;
    top: 1px;
}

.add-video p:nth-child(2){
    color: rgba(0, 0, 0, 0.295);
}
.toggler-icon{
    display: none;
}
#back-btn{
    font-size: 25px;
    position: relative;
    margin-left: -5px;
    margin-top: -4px;
}
.header-search-mini{
    display: flex;
    position: absolute;
    width: 100%;
    left: 35px;
}
.header-search-mini input{
    width: 70%;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.392);
    height: 40px;
    border-radius: 15px 0 0 15px;
    color: white;
    padding: 0 15px;
    border-right: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.619);
    z-index: 9;
}
.header-search-mini i{
    font-size: 22px;
    padding:7px 10px;
    border-radius: 0 15px 15px 0;
    border: 1px solid  rgba(255, 255, 255, 0.392);
    border-left: none;
    background-color:rgba(35, 32, 32, 0.668);
}
.header-search-mini{
    display: none;
}
.header-profile #profile-setting{
    width: 120px;
    right: 35px;
    padding: 5px 5px 0 5px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 40px;
    background-color: rgba(185, 207, 226, 0.485);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.263);
    backdrop-filter: blur(10px);
    z-index: 999999;
}
#profile-setting button{
    background-color: black;
    color: white;
    margin-bottom: 5px;
}
@media (min-width:1300px){
    header{
        margin-left:min(-8vw,-30px);
        width: 97vw;
        overflow: hidden;
    }
    .header-side{
        position: relative;
        left: -5px;
    }
}
@media(max-width:600px){

    .header-center{
        align-items: center;
        justify-content: end;
        padding-right: 15px;
    }
    .header-search-hide{
        display: none;
    }
    .header-search{
        position: absolute;
        right: 30%;
    }
    .header-center .voices{
        position: absolute;
        right: 21%;
    }
}
@media(max-width:492px){
    .header-search{
        display: none;
    }
    .header-search-mini{
        width: 94%;
        height: 35px;
        top: 2px;
        display: flex;
        align-items: center;
    }
    .toggler-icon{
        display: block;
        position: absolute;
        right: 40%;
        background-color:rgba(46, 43, 43, 0.919);
        padding:6px 7px;
        font-size: 16px;
        border-radius: 50px;
    }
    .voice {
        position: relative;
        margin-top: -3px;
        margin-left: 5px;
    }
    .header-center .voices{
        position: absolute;
        right: 31%;
    }
    .voice i{
        border: 1px solid rgba(255, 255, 255, 0.208);
        border-radius: 50%;
        padding: 8px 8px;
        font-size: 16px;
        top:0;
    }
    .header-search-mini input{
        height: 36.71px;
        margin-top: 2.5px;
    }
    #search-icon{
        height: 36.71px;
        margin-top: 2.5px;
    }
}
@media(max-width:370px){
    .header-center{
        padding-right: 5px;
        gap: 4px;
    }
    .header-side h2{
        font-size: 16px;
    }
    .header-center .voices{
        font-size: 15px;
    }
    .toggler-icon{
        font-size: 15px;
    }
    #uploader{
        display: none;
    }
}
