
.card{
    width: max(23vw,300px);
    height: max(270px,19vw);
    padding: 0%;
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.card-upper{
    height: 200px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    object-position: center;
}
.card-upper .video{
    display: none;
}
.card-upper img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    border-radius: 0 15px 15px 15px;
}
.card-lower{
    height: 25%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding:2px 5px 0 1px;
    flex-wrap: nowrap;
    white-space:nowrap;
    overflow: hidden;
    position: relative;
}
.card-lower .card-avatar{
    width: 35px;
    height: 35px;
    border: 1px solid white;
    position: absolute;
    top: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.card-lower .card-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card-title{
    font-size: 15px;
    font-weight: 370;
    text-align: left;
    position: relative;
    margin-left: 42px;
}
.card-channel,.card-info{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.437);
    text-align: left;
    position: relative;
    margin-left: 42px;
}
.card-info{
    font-size: 13px;
    line-height: 15px;
}
.card-options{
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    transform:rotate(90deg);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.455);
}
.show-option{
    position: absolute;
    bottom: 5px;
    cursor: pointer;
    right: 25px;
    padding:0 6px;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.188);
}
.show-option p{
    border-bottom: 1px solid rgba(82, 75, 75, 0.762);
    width: 100%;
    text-align: left;
}
.user-play-lists{
    padding: 0 3px;
    width: 100%;
    min-height: 42px;
    border-radius: 10px;
    bottom: 0px;
    left: 1px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.177);
    background-color: rgba(57, 52, 52, 0.504);
    backdrop-filter: blur(15px);
}
@media(min-width:1273px){
    .card{
        width:24%;
    }
}
@media(max-width:1272px){
    .card{
        width:32%;
    }
}
@media(max-width:925px){
    .card{
        width: 47%;
        margin-right: 10px;
    }
}
@media(max-width:634px){
    .card{
        width: max(47vw,230px);
    }
}
@media(max-width:534px){
    .card{
        width:94vw;
        height: 360px;
        margin-left: 5px;
    }
    .card-title{
        margin-top: 5px;
        font-size: 17px;
        font-weight: 370;
    }
    .card-upper{
        height: 270px;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        object-position: center;
    }
    .card-channel{
        font-size: 16px;
    }
}