.aside-home{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items:start;
    padding: 5px 0;
    gap: 5px;
    overflow: auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.aside-home ::-webkit-scrollbar{
    display: none;
}
.option{
  font-size: 17px;
  font-weight: 400;
  width: 100%;
  text-align: left;
  padding: 6px 8px 11px 7px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.option:hover{
    background-color:  rgba(200, 182, 164, 0.274);
}
.active{
    background-color:  rgba(233, 220, 187, 0.373);
}
.aside-home hr{
    width: 100%;
    height: 1.5px;
    background-color:rgba(255, 255, 255, 0.256);
    border: none;
}